body {
  background: $white;
}

h2 {
  margin-bottom: 1em;
}

.headshot {
  float: left;
  margin-right: 1em;

  img {
    max-width: 131px;
  }
}

.info {
  display: inline-block;
  width: 66%;
}

// Overrides
.prose {
  h3 {
    margin: 0 0 1em 0;
  }
  ul {
    font-weight: 400;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {

  }
}

.header {
  font-weight: 600;
}
