<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ META.project_name }} | The Texas Tribune</title>
  <meta name="description" content="{{ META.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>

<header>
  <h1>{{ META.project_name }}</h1>
</header>


<div class="prose container">
 <h2>The Senate</h2>
  {% for person in Senate %}
    <div class="freshman">
      <div class="headshot">
        <img src="//s3.amazonaws.com/static.texastribune.org/media/IncomingFreshman2015/{{ person.Photo_URL }}">
      </div>
      <div class="info">
        <h3>{{ person.Name }} ({{ person.Party }}) &mdash; SD-{{ person.District }}</h3>
        <p>{{ person.Bio }}</p>
        <ul>
          <li><span class="header">Hometown:</span> {{ person.Hometown }}</li>
          <li><span class="header">Age:</span> {{ person.Age }}</li>
          <li><span class="header">Family:</span> {{ person.Family }}</li>
          <li><span class="header">Religion:</span> {{ person.Religion }}</li>
          <li><span class="header">Occupation:</span> {{ person.Occupation }}</li>
          <li><span class="header">Education:</span> {{ person.Education }}</li>
        </ul>
      </div>
    </div>
    <hr class="yellow">
  {% endfor %}

<h2>The House</h2>
  {% for person in House %}
    <div class="freshman">
      <div class="headshot">
        <img src="//s3.amazonaws.com/static.texastribune.org/media/IncomingFreshman2015/{{ person.Photo_URL }}">
      </div>
      <div class="info">
        <h3>{{ person.Name }} ({{ person.Party }}) &mdash; SD-{{ person.District }}</h3>
        <p>{{ person.Bio }}</p>
        <ul>
          <li><span class="header">Hometown:</span> {{ person.Hometown }}</li>
          <li><span class="header">Age:</span> {{ person.Age }}</li>
          <li><span class="header">Family:</span> {{ person.Family }}</li>
          <li><span class="header">Religion:</span> {{ person.Religion }}</li>
          <li><span class="header">Occupation:</span> {{ person.Occupation }}</li>
          <li><span class="header">Education:</span> {{ person.Education }}</li>
        </ul>
      </div>
    </div>
    <hr class="yellow">
  {% endfor %}
</div>


<footer>
  <div>Source{{ 's' if sources.length > 1 else '' }}: {% for source in sources %}<a href="{{ source.url }}" target="_blank">{{ source.name }}</a> {% if not loop.last %} | {% endif %}{% endfor %}</div>
  <div>Produced by {% for author in authors %}<a href="{{ author.url }}">{{ author.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</div>
</footer>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/main.js"></script>
<script src="scripts/pymload.js"></script>
<!-- endbuild -->

</body>
</html>
